.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__btn {
  color: #2e363e;
}
.nav__알림1 {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.nav__알림2 {
  left: 30px;
}

.nav__알림3 {
  top: -5px;
  left: 00px;
}
.nav__알림4 {
  right: 60px;
  top: 10px;
}
