.screen-header {
  display: flex;
  padding: var(--garo-space);
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.screen-header__text {
  font-size: 40px;
  font-weight: 700;
}
.screen-header__icon span {
  margin-left: 20px;
}

.screen-header__icon span:last-child {
  position: relative;
}
