.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 30px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__title {
  font-weight: 700;
  font-size: 19px;
}
.user-component__subtitle {
  font-size: 15px;
  margin-top: 12px;
  color: var(--g-color);
}
.use-com-ava-big {
  width: 80px;
  height: 80px;
}
.가로패딩용박스 {
  padding: 0px var(--garo-space);
}

.use-com-ava-small {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--g-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
