.recomend-friends {
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
}

.recomend-friends__title {
  font-size: 14px;
  color: var(--g-color);
}

.recomend-friends span:last-child {
  display: block;
  text-align: center;
  margin: 100px 0px;
  color: var(--g-color);
  font-size: 18px;
}

.open-chat__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: var(--g-color);
}

.open-chat__header span {
  opacity: 0.4;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  padding-bottom: 15px;
}

.open-post__title {
  font-size: 22px;
  margin-bottom: 7px;
}
.open-post__hashetag {
  text-transform: uppercase;
  color: var(--g-color);
  margin-bottom: 13px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin-right: 5px;
}

.open-post__members-count {
  color: var(--g-color);
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--g-color);
  margin: 0px 7px;
}

.open-post__members-status {
  color: rgb(255, 0, 191);
}

/* 주관작성 */
.open-post__bts-logo {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__photo-text {
  position: absolute;
  left: 50px;
  top: 90px;
  border-radius: 20px;
  background-color: var(--g-color);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

.open-post__photo-text span {
  margin-left: 5px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}

.open-post2 {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.open-post2__column {
  display: flex;
  flex-direction: column;
}

.open-post2__column h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.open-post2__subtext {
  color: var(--g-color);
  font-size: 25px;
  margin-bottom: 10px;
}

.open-post2__members {
  display: flex;
  align-items: center;
}

.open-post2__members img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 15px;
}
.open-post2__members {
  color: var(--g-color);
  font-size: 25px;
}
.divider2 {
  width: 1px;
  height: 25px;
  background-color: var(--g-color);
  margin: 0px 10px;
}
.open-post2__members-active {
  color: rgb(255, 0, 191);
}

.open-post2__column-photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post2__column-photo {
  position: relative;
}

.open-post2__column-heart {
  color: white;
  background-color: var(--g-color);
  padding: 8px 15px;
  border-radius: 15px;
  position: absolute;
  left: 35px;
  bottom: 10px;
}
