.friends__text {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  margin-bottom: 10px;
}
.friends__text a {
  margin: 0px 10px;
}

/* #Friend_Names_Display {솰라솰라 가능} */
.friends__text :not(a) {
  opacity: 0.3;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.6;
}
